openai
pandas
datasets
sklearn
evaluate
scikit-multilearn
more-itertools
numpy
tiktoken
transformers
plotly
matplotlib
scikit-learn
torch
torchvision
scipy
num2words
requests
gensim
bokeh
umap-learn
umap